* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: #712ade;
  color: white;
}

.section1 {
  width: 60px;
}

.section1 a {
  color: white;
  text-decoration: none;
}

.section2 {
  flex:1;
  max-width: 500px;
  margin-right: 15px;
}

.section2 input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border:none;
}

.section3 {
  width: 60px;
  padding-right: 10px;
}

.section3 button {
  padding: 10px;
  background-color: #712ade;
  color: #fff;
  border: 2px solid #fff;
}