*{
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  background-color: green;
  color: white;
}

.cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal {
  height: 250px;
  width: 350px;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
}